<a href="https://colab.research.google.com/github/neilkava/Datasets/blob/main/KaggleHousing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# save filepath to variable for easier access
melb_file_path = 'https://raw.githubusercontent.com/neilkava/Datasets/main/melb_data.csv'
# read the data and store data in DataFrame titled melbourne_data
melb_data = pd.read_csv(melb_file_path) 
# print a summary of the data in Melbourne data
melb_data.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [ ]:
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
# The Melbourne data has some missing values (some houses for which some variables weren't recorded.)
# We'll learn to handle missing values in a later tutorial.  
# Your Iowa data doesn't have missing values in the columns you use. 
# So we will take the simplest option for now, and drop houses from our data. 
# Don't worry about this much for now, though the code is:

# dropna drops missing values (think of na as "not available")
melb_data = melb_data.dropna(axis=0)
# axis = 0 to drop the row entry
# axis = 1 to drop the column (property)
melb_data.describe()

             Rooms         Price  ...   Longtitude  Propertycount
count  6196.000000  6.196000e+03  ...  6196.000000    6196.000000
mean      2.931407  1.068828e+06  ...   144.990201    7435.489509
std       0.971079  6.751564e+05  ...     0.099165    4337.698917
min       1.000000  1.310000e+05  ...   144.542370     389.000000
25%       2.000000  6.200000e+05  ...   144.926198    4383.750000
50%       3.000000  8.800000e+05  ...   144.995800    6567.000000
75%       4.000000  1.325000e+06  ...   145.052700   10175.000000
max       8.000000  9.000000e+06  ...   145.526350   21650.000000

[8 rows x 13 columns]

In [ ]:
y = melb_data.Price
melb_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude']
X = melb_data[melb_features]
X.describe()

             Rooms     Bathroom  ...    Lattitude   Longtitude
count  6196.000000  6196.000000  ...  6196.000000  6196.000000
mean      2.931407     1.576340  ...   -37.807904   144.990201
std       0.971079     0.711362  ...     0.075850     0.099165
min       1.000000     1.000000  ...   -38.164920   144.542370
25%       2.000000     1.000000  ...   -37.855438   144.926198
50%       3.000000     1.000000  ...   -37.802250   144.995800
75%       4.000000     2.000000  ...   -37.758200   145.052700
max       8.000000     8.000000  ...   -37.457090   145.526350

[8 rows x 7 columns]

In [ ]:
y.head()

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [ ]:
X.head()

   Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  Longtitude
1      2       1.0     156.0          79.0     1900.0   -37.8079    144.9934
2      3       2.0     134.0         150.0     1900.0   -37.8093    144.9944
4      4       1.0     120.0         142.0     2014.0   -37.8072    144.9941
6      3       2.0     245.0         210.0     1910.0   -37.8024    144.9993
7      2       1.0     256.0         107.0     1890.0   -37.8060    144.9954

In [ ]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melb_model = DecisionTreeRegressor(random_state = 19)

# Fit model
melb_model.fit(X, y)

DecisionTreeRegressor(random_state=19)

In [ ]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melb_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  Longtitude
1      2       1.0     156.0          79.0     1900.0   -37.8079    144.9934
2      3       2.0     134.0         150.0     1900.0   -37.8093    144.9944
4      4       1.0     120.0         142.0     2014.0   -37.8072    144.9941
6      3       2.0     245.0         210.0     1910.0   -37.8024    144.9993
7      2       1.0     256.0         107.0     1890.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [ ]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices = melb_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

434.71594577146544

In [ ]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, random_state = 1)
melb_model = DecisionTreeRegressor()
melb_model.fit(train_X, train_y)
val_predictions = melb_model.predict(test_X)
mean_absolute_error(test_y, val_predictions)

251996.26597805036

In [ ]:
def get_mae(max_leafs, train_X, test_X, train_y, test_y):
    model = DecisionTreeRegressor(max_leaf_nodes = max_leafs, random_state = 13)
    model.fit(train_X, train_y)
    preds_val = model.predict(test_X)
    mae = mean_absolute_error(test_y, preds_val)
    return(mae)

In [ ]:
for max_leaf in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf, train_X, test_X, train_y, test_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  324110
Max leaf nodes: 50  		 Mean Absolute Error:  250590
Max leaf nodes: 500  		 Mean Absolute Error:  238270
Max leaf nodes: 5000  		 Mean Absolute Error:  248475

# *Random Forest*

In [ ]:
from sklearn.ensemble import RandomForestRegressor

forest_model = RandomForestRegressor(random_state = 3)
forest_model.fit(train_X, train_y)
new_preds = forest_model.predict(test_X)
print(mean_absolute_error(test_y, new_preds))

173652.5175056104